In [4]:
# settings local:
%run "../../../common/0_notebooks_base_setup.py"

C:\Users\anabella\Documents\DH\Actividades\clase_03\dsad_2021\common
default checking
Running command `conda list`... ok
jupyterlab=2.2.6 already installed
pandas=1.1.5 already installed
bokeh=2.2.3 already installed
seaborn=0.11.0 already installed
matplotlib=3.3.2 already installed
ipywidgets=7.5.1 already installed
pytest=6.2.1 already installed
chardet=4.0.0 already installed
psutil=5.7.2 already installed
scipy=1.5.2 already installed
statsmodels=0.12.1 already installed
scikit-learn=0.23.2 already installed
xlrd=2.0.1 already installed
Running command `conda install --yes nltk=3.5.0`... ok
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


unidecode=1.1.1 already installed
pydotplus=2.0.2 already installed
pandas-datareader=0.9.0 already installed
flask=1.1.2 already installed

---

<img src='../../../common/logo_DH.png' align='left' width=35%/>

En la práctica de la clase de hoy usaremos un dataset de Kaggle que tiene datos de ventas:

https://www.kaggle.com/kyanyoga/sample-sales-data

Ustedes tienen un subconjunto de los datos disponibles, que usaremos para resolver ejercicios de Numpy.

## Ejercicio 1

Leer los datos del archivo /M1/CLASE_03_Numpy/Data/sales_data_sample_excercise.csv

Este archivo tiene algunos datos numéricos y otros de tipo cadena de caracteres. 

Las columnas son:

* ORDERNUMBER: int, id de la orden

* SALES: float, monto abonado

* MONTH_ID: int, mes

* YEAR_ID: int, año

* PRODUCTLINE: str, producto

* COUNTRY: str, país de venta

¿Recuerdan que todos los elementos de una instancia de ndarray deben ser del mismo tipo? Entonces vamos a leer el archivo y crear una instancia de ndarray de tipo cadena de caracteres.

¿Qué pasaría si intentáramos crear una instancia de tipo int? ¿Y de tipo float?

In [5]:
import numpy as np
data = np.genfromtxt("../Data/sales_data_sample_exercise.csv", skip_header=1, delimiter="\t", dtype=str)
data
# Si instanciamos con tipo de dato int o float, perderíamos información.

array([['10107', '2871', '2', '2003', 'Motorcycles', 'USA'],
       ['10121', '2765.9', '5', '2003', 'Motorcycles', 'France'],
       ['10134', '3884.34', '7', '2003', 'Motorcycles', 'France'],
       ...,
       ['10386', '5417.57', '3', '2005', 'Ships', 'Spain'],
       ['10397', '2116.16', '3', '2005', 'Ships', 'France'],
       ['10414', '3079.44', '5', '2005', 'Ships', 'USA']], dtype='<U16')

## Ejercicio 2

Crear un array numérico que tenga como valores las columna SALES y otro array de str que tenga como valores la columna COUNTRY

Ayuda: https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.astype.html

In [7]:
sales = data[:, 1].astype("float")
sales

array([2871.  , 2765.9 , 3884.34, ..., 5417.57, 2116.16, 3079.44])

In [8]:
countries = data[:,5]
countries

array(['USA', 'France', 'France', ..., 'Spain', 'France', 'USA'],
      dtype='<U16')

## Ejercicio 3

¿Cuál fue el monto mínimo de una venta? ¿Cuál fue el monto máximo?

In [9]:
minimum = np.min(sales)
minimum

482.13

In [10]:
maximum = np.max(sales)
maximum

14082.8

## Ejercicio 4

¿Cuántas ventas se hicieron en Spain?

Ayuda: boolean indexing

In [20]:
spain_sales = countries[countries == "Spain"]
spain_quantity_sales = spain_sales.size
print("Se hicieron", spain_quantity_sales, "ventas en España")

Se hicieron 342 ventas en España

## Ejercicio 5

¿Qué porcentaje de las ventas se hicieron en Spain?

In [21]:
spain_percentage = np.divide(spain_quantity_sales, countries.size) * 100
print("El porcentaje de ventas que se hicieron en España es del", np.round(spain_percentage, 2), "%")

El porcentaje de ventas que se hicieron en España es del 12.11 %

## Ejercicio 6

¿Cuál es el país de la venta de precio máximo? ¿Cuál es el id de esa venta?

Ayuda: boolean indexing

In [41]:
maximum = np.max(sales)

index_maximum_sale = np.where(sales == maximum)[0]

country_maximum_sale = countries[index_maximum_sale][0]

id_sale =  data[index_maximum_sale, 0][0]

print("El país de la venta de precio máximo es", country_maximum_sale)
print("El id de esa venta es", id_sale)

El país de la venta de precio máximo es USA
El id de esa venta es 10407

## Ejercicio 7

¿Cuál es el precio promedio de ventas en France? ¿Cuál es el desvío?

In [51]:
indexes_france = np.where(countries == "France")[0]

sales_france = sales[indexes_france]

mean_sales_france = round(np.mean(sales_france), 2)

std_sales_france = round(np.std(sales_france), 2)

print("El precio promedio de ventas en Francia es de", mean_sales_france)
print("El desvío es", std_sales_france)

El precio promedio de ventas en Francia es de 3537.95
El desvío es 1939.21

## Ejercicio 8

¿Cuál fue el año con máximo desvío en las ventas en France?

Ayuda: https://docs.scipy.org/doc/numpy/reference/generated/numpy.unique.html

In [55]:
years = np.unique(data[:,3]).astype(np.int)
years

array([2003, 2004, 2005])

In [67]:
std_per_year_france = {}
for year in years:
    mask = (data[:,5] == "France") & (data[:,3].astype(np.int) == year)
    year_sales = data[mask]
    std = np.std(year_sales[:,1].astype(np.float)).round(2)
    std_per_year_france[year] = std
std_per_year_france

{2003: 1860.77, 2004: 1837.84, 2005: 2241.77}

In [86]:
max_value_std = max(std_per_year_france.values())
max_value_std

2241.77

In [88]:
for year in years:
    if std_per_year_france[year] == max_value_std:
        print(year)

2005