In [4]:
%run "../../../common/0_notebooks_base_setup.py"

/media/paulati/Nuevo vol/paula/dh/2021/dsad_2021_paula/common
default checking
Running command `conda list`... ok
jupyterlab=2.2.6 already installed
pandas=1.1.5 already installed
bokeh=2.2.3 already installed
seaborn=0.11.0 already installed
matplotlib=3.3.2 already installed
ipywidgets=7.5.1 already installed
pytest=6.2.1 already installed
chardet=4.0.0 already installed
psutil=5.7.2 already installed
scipy=1.5.2 already installed
statsmodels=0.12.1 already installed
scikit-learn=0.23.2 already installed
xlrd=2.0.1 already installed
Running command `conda install --yes nltk=3.5.0`... ok
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


unidecode=1.1.1 already installed
pydotplus=2.0.2 already installed
pandas-datareader=0.9.0 already installed
flask=1.1.2 already installed

---

<img src='../../../common/logo_DH.png' align='left' width=35%/>

## Documentación pandas

https://pandas.pydata.org/pandas-docs/stable/index.html

## Dataset

El dataset que usaremos es una versión muy resumida de datos de la Encuesta Permanentes de Hogares (relevamiento llevado adelante por el INDEC). Se trata de una encuesta continua que tiene como objetivo fundamental generar información sobre el funcionamiento del mercado de trabajo.

Solamente utilizaremos algunas variables (edad, nivel educativo, cantidad de horas trabajadas, calificación de la tarea e ingreso laboral) y algunos casos (los ocupados, es decir, aquellos que han trabajado al menos una hora en la semana anterior al relevamiento).

Este dataset es el mismo que emplearemos en la clase presencial, y en estos ejercicios buscamos  familiarizarnos con él y revisar algunos temas.

Importamos la biblioteca pandas y asignamos pd como alias:

In [54]:
import pandas as pd
import numpy as np

## Ejercicio 1

Busquemos en la documentación de pandas la sintaxis del método `read_csv` y leamos en un `DataFrame` llamado data los datos del archivo /M1/CLASE_04/Data/data_filt.csv 

Este archivo tiene algunos datos numéricos y otros de tipo cadena de caracteres. 

Las columnas son:

* ch06: int, edad

* nivel_ed: string, nivel educativo

* htot: int, cantidad de horas totales trabajadas en el período

* calif: string, calificación de la tarea

* p47t: int, ingreso

In [7]:
data_location = "../Data/data_filt.csv"
data = pd.read_csv(data_location, sep=",", encoding="latin1" )
data

       ch06           nivel_ed  htot            calif     p47t
0        46        1_H/Sec inc    45  2_Op./No calif.   6000.0
1        26  2_Sec. comp y más    25  2_Op./No calif.   5000.0
2        47  2_Sec. comp y más    25  2_Op./No calif.   5000.0
3        52        1_H/Sec inc    90  2_Op./No calif.  11000.0
4        45        1_H/Sec inc    44  2_Op./No calif.   9500.0
...     ...                ...   ...              ...      ...
23443    45  2_Sec. comp y más    50  2_Op./No calif.   4000.0
23444    58        1_H/Sec inc    30  2_Op./No calif.   5000.0
23445    36  2_Sec. comp y más    40  2_Op./No calif.  13000.0
23446    49        1_H/Sec inc    40  2_Op./No calif.   4000.0
23447    36        1_H/Sec inc    54  2_Op./No calif.   8000.0

[23448 rows x 5 columns]

## Ejercicio 2

Repasemos el concepto de índice y columnas de un `DataFrame`

Accedamos al índice (nombres de las filas) del `DataFrame` data

Accedamos a los nombres de columnas del `DataFrame` data

In [10]:
data.index

RangeIndex(start=0, stop=23448, step=1)

In [11]:
data.columns

Index(['ch06', 'nivel_ed', 'htot', 'calif', 'p47t'], dtype='object')

Vamos a modificar ahora el índice de data, así el valor del índice no coincide con la posición y podemos notar diferencias en los ejercicios que siguen.

In [12]:
data.index = data.index + 7
print(data.index)
data.head(5)

RangeIndex(start=7, stop=23455, step=1)

    ch06           nivel_ed  htot            calif     p47t
7     46        1_H/Sec inc    45  2_Op./No calif.   6000.0
8     26  2_Sec. comp y más    25  2_Op./No calif.   5000.0
9     47  2_Sec. comp y más    25  2_Op./No calif.   5000.0
10    52        1_H/Sec inc    90  2_Op./No calif.  11000.0
11    45        1_H/Sec inc    44  2_Op./No calif.   9500.0

## Ejercicio 3

Repasemos el uso de `loc` e `iloc`

* `loc` nos permite acceder a un elemento por su índice

* `iloc` nos permite acceder a un elemento por su posición

Leamos con `loc` y con `iloc` la cuarta fila de data

¿Cómo accedemos al valor del índice en la cuarta fila?

In [26]:
data.iloc[3]

ch06                     52
nivel_ed        1_H/Sec inc
htot                     90
calif       2_Op./No calif.
p47t                  11000
Name: 10, dtype: object

In [30]:
data.loc[10]

ch06                     52
nivel_ed        1_H/Sec inc
htot                     90
calif       2_Op./No calif.
p47t                  11000
Name: 10, dtype: object

In [36]:
data.index[3] # data.index devuelve un objeto RangeIndex

10

## Ejercicio 4

Repasemos el uso de `loc` combinado con máscaras booleanas.

Queremos construir un objeto `DataFrame` con los registros de edad menor a 15 o mayor igual a 70.

In [49]:
df_ages_15_70 = data.loc[(data.ch06 < 15) | (data.ch06 >= 70)]
#df_ages_15_70[df_ages_15_70.ch06 < 15]
#df_ages_15_70[df_ages_15_70.ch06 >= 70]
df_ages_15_70

       ch06           nivel_ed  htot            calif     p47t
17       72        1_H/Sec inc    15    1_Prof./Tecn.   8300.0
251      71  2_Sec. comp y más     8    1_Prof./Tecn.   7102.0
416      71        1_H/Sec inc    63  2_Op./No calif.  11800.0
663      72  2_Sec. comp y más    44    1_Prof./Tecn.  17000.0
773      84  2_Sec. comp y más    30    1_Prof./Tecn.   7800.0
...     ...                ...   ...              ...      ...
23301    72        1_H/Sec inc    40    1_Prof./Tecn.  15000.0
23323    70        1_H/Sec inc    25  2_Op./No calif.   8200.0
23324    84        1_H/Sec inc    25  2_Op./No calif.   9900.0
23327    72        1_H/Sec inc    30  2_Op./No calif.   5800.0
23339    74  2_Sec. comp y más    12  2_Op./No calif.   7000.0

[289 rows x 5 columns]

## Ejercicio 5

Calculemos algunas métricas sobre un objeto `DataFrame`

* Promedio de edad

* Máximo de horas trabajadas

* Mediana de ingreso

In [66]:
ages = data.ch06
print("El promedio de edad es de", np.int(np.mean(ages)), "años")

El promedio de edad es de 40 años

In [67]:
hours = data.htot
print("El máximo de horas trabajadas es de", np.int(np.max(hours)), "horas")

El máximo de horas trabajadas es de 168 horas

In [69]:
salaries = data.p47t
print("La mediana de los ingresos es de", np.int(np.median(salaries)))

La mediana de los ingresos es de 7000